.category {
    position: relative;
    display: flex;
    flex-direction: column;
}

.category-item {
    margin-top: 20px;
    padding: 10px;
    background: #c9caff;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);
    max-width: 32.5rem;
    position: relative;
    flex-direction: column;
}

.category-item-block-number {
    position: relative;
    display: flex;
    flex-direction: row;
    color: #292A33;
    font-size: 15px;
}

.category-item-block-number-text {
    color: #292A33;

}

.category-item-modules-text-module {
    color: #292A33;

}

.category-item-name {
    margin-top: 10px;
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: row;
    color: #292A33;
}

.category-item-name-text {
    color: #292A33;
    font-size: 20px;
}

.img-setting{
    position:absolute;
    top:10px;
    right: 10px;
    width: 100%;
    max-width: 20px;
    height: auto;
}