:root {
    --container-padding: 10px;
    --img_max_width: 16px;
    --img-padding-left: 10px;
}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
}

.category-item {
    margin-top: 20px;
    padding: 10px;
    background: #c9caff;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);
    max-width: 32.5rem;
    position: relative;
    flex-direction: column;
}

.category-item-block-number {
    position: relative;
    display: inline-block;
    flex-direction: row;
    color: #292A33;
    font-size: 15px;
}

.category-item-block-number-text {
    color: #292A33;

}

.category-item-modules-text-module {
    color: #292A33;

}

.category-item-name {
    margin-top: 10px;
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: row;
    color: #292A33;
}

.category-item-name-text {
    color: #292A33;
    font-size: 20px;
}

.img-setting {
    width: var(--img_max_width);
    /*max-width: 20px;*/
    height: 20px;
    padding-left: var(--img-padding-left);
}

.category-temp {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(var(--img_max_width) * 3 + var(--img-padding-left) * 2 + var(--container-padding));
}

.container-button {
    position: absolute;
    display: flex;
    top: 10px;
    right: var(--container-padding);
}