<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/category/category_cards.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/category/category.css}"/>
    <script type="text/javascript" th:src="@{/scripts/main/declension_of_words.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main/next_page.js}"></script>
    <meta charset="UTF-8">
    <title>Категории</title>
</head>
<body onload="declension_of_words([' модулей', ' модуль', ' модуля'],'category__item__modules__text')">
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="category__title">Категории</div>
</div>
<div th:if="${not #lists.isEmpty(categories)}">
    <div class="container">
        <div class="category">
            <div th:each="category : ${categories}">
                <div class="category__item" th:onclick="next_page('http://localhost:8081/folder/',[[${category.id}]])">
                    <div class="category__item__modules">
                        <div class="category__item__modules__text" th:text="${#lists.size(category.folders)}"></div>
                    </div>
                    <div class="category__item__name">
                        <div class="category__item__folder" th:text="${category.name} "/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:unless="${not #lists.isEmpty(categories)}">
    <div class="container">
        <p>Категорий нет</p>
    </div>
</div>
</body>
</html>
