.header {
    width: 100%;
    padding-top: 30px;
    color: white;
    position: relative;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    position: relative;
    color: white;
    text-decoration: none;

    transition: color .1s linear;
}
.header__inner {
    display: flex;
    position: relative;
}