<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/card/card.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/form/form.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" th:src="@{/scripts/level/set_listener.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_img_card.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_text_card.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/card/redirect_back.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main/next_page.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main/add_category.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/popup/popup.js}"></script>

    <meta charset="UTF-8">
    <title>Повторение карточек</title>
</head>
<body onload="tempFunction()">
<header th:insert="blocks/header :: header"></header>
<div class="main">
    <div class="block-cards">
        <div class="card-nav">
            <span class="card-nav-text card-nav" id="text_nav" th:text="${#lists.size(cards)}">текст</span>
        </div>
        <div class="cards" id="card">
            <div class="flipper" id="flipper" th:onclick="check_is_flip()">
                <div class="front" id="card-front">
                    <div class="front-inner">
                        <p class="title-cards" id="front-title">Вопрос</p>
                        <img id="card-front-img" class="card-img"/>
                        <span id="card-front-text" class="card-text"></span>
                    </div>
                </div>
                <div class="back" id="card-back">
                    <div class="back-inner">
                        <p class="title-cards" id="back-title">Ответ</p>
                        <img id="card-back-img" class="card-img"/>
                        <span id="card-back-text" class="card-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button-failure" id="button-failure"
                    th:onclick="on_click_button('http://localhost:8081/card/failure/')">Неверно
            </button>
            <button class="button-success" id="button-success"
                    th:onclick="on_click_button('http://localhost:8081/card/success/')">Верно
            </button>
        </div>
    </div>
</div>
<popup th:insert="popup/popup_add_category :: popup_add_category"></popup>
</body>
<script type="text/javascript" th:inline="javascript">
    async function on_click_button(address) {
        var cards =/*[[${cards}]]*/
        var folder_id =/*[[${folderId}]]*/
        var level_id =/*[[${levelId}]]*/
        const text_nav = document.getElementById("text_nav");
        const text_split = text_nav.innerHTML.toString().split('/');
        const id = cards[Number(text_split[0]) - Number(1)].id;
        try {
            const response = await fetch((address + id).toString(), {
                method: 'post',
            });
            if (text_split[0] != text_split[1]) {
                next_card(text_split[0]);
                set_navigator(Number(text_split[0]) + Number(1));
            } else {
                try {
                    const response = await fetch(("http://localhost:8081/level/update/" + level_id).toString(), {
                        method: 'post',
                    });
                    next_page("http://localhost:8081/level/", folder_id);
                } catch (err) {
                    console.error(`Error: ${err}`);
                }
            }

        } catch (err) {
            console.error(`Error: ${err}`);
        }
    }
</script>
<script>
    function tempFunction() {
        set_listener();
        set_navigator(1);
        next_card(0);
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function set_navigator(number) {
        var cards =/*[[${cards}]]*/
        var folder_id =/*[[${folderId}]]*/
        if (cards.length == 0) {
            next_page("http://localhost:8081/level/", folder_id);
        } else {
            const text = document.getElementById("text_nav");
            text.innerHTML = number + "/" + cards.length;
        }
    }
</script>

<script type="text/javascript" th:inline="javascript">
    function next_card(index) {
        var cards =/*[[${cards}]]*/
        var typeImage = "data:image/png;base64,";
        var text = document.getElementById('text_nav');
        var textSplit = text.innerHTML.toString().split('/');
        if (index <= textSplit[1]) {
            if (cards[index].question != null) {
                const [side, hidden_part] = check_side("card-front-text", "card-back-text", "card-front-img", "card-back-img");
                set_text_card(document.getElementById(side), cards[index].question, document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-front-img", "card-back-img", "card-front-text", "card-back-text");
                set_img_card(document.getElementById(side), typeImage + cards[index].question_image, document.getElementById(hidden_part));
            }
        }
        if (cards[index].answer != null) {
            const [side, hidden_part] = check_side("card-back-text", "card-front-text", "card-back-img", "card-front-img");
            set_text_card(document.getElementById(side), cards[index].answer, document.getElementById(hidden_part));
        } else {
            const [side, hidden_part] = check_side("card-back-img", "card-front-img", "card-back-text", "card-front-text");
            set_img_card(document.getElementById(side), typeImage + cards[index].answer_image, document.getElementById(hidden_part));
        }
        document.getElementById("button-success").style.display = "none";
        document.getElementById("button-failure").style.display = "none";
    }
</script>
<script>
    function check_side(front_default, back_default, other_front_default, other_back_default) {
        const question_text = "Вопрос";
        const answer_text = "Ответ"
        if (document.getElementById("flipper").classList.contains("flipCard")) {
            document.getElementById("back-title").innerHTML = question_text;
            document.getElementById("front-title").innerHTML = answer_text;
            document.getElementById("card-front").style.display = 'none';
            document.getElementById("card-back").style.display = '';
            return [back_default, other_back_default];
        } else {
            document.getElementById("back-title").innerHTML = answer_text;
            document.getElementById("front-title").innerHTML = question_text;
            document.getElementById("card-back").style.display = 'none';
            document.getElementById("card-front").style.display = '';
            return [front_default, other_front_default];
        }
    }
</script>
<script>
    function check_is_flip() {
        if (document.getElementById("flipper").classList.contains("flipCard")) {
            document.getElementById("card-back").style.display = 'none';
            document.getElementById("card-front").style.display = '';
        } else {
            document.getElementById("card-front").style.display = 'none';
            document.getElementById("card-back").style.display = '';
        }
        document.getElementById("button-success").style.display = "";
        document.getElementById("button-failure").style.display = "";
    }
</script>
</html>