<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/folder/folder_cards.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/folder/folder.css}"/>
    <script type="text/javascript" th:src="@{/scripts/category/declension_of_words.js}"></script>
    <meta charset="UTF-8">
    <title>Папки</title>
</head>
<body onload="declension_of_words(['карточек', 'карточка', 'карточки'],'folder__item__num__of__cards','folder__item__num__of__cards__text')">
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="folder__title">Папки</div>
</div>
<div th:if="${not #lists.isEmpty(folders)}">
    <div class="container">
        <div class="folder">
            <div th:each="folder : ${folders}">
                <div class="folder__item">
                    <p>
                    <div class="folder__item__modules">
                        <div class="folder__item__num__of__cards" th:text="${#lists.size(folder.cards)}"></div>
                        <div class="folder__item__num__of__cards__text" id="module">карточек</div>
                    </div>
                    </p>
                    <div class="folder__item__name_module">
                        <p class="folder__item__name" th:text="${folder.name} "/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:unless="${not #lists.isEmpty(folders)}">
    <p>Папок нет</p>
</div>
</body>
</html>