:root {
    --text-color: #1B1D25;
    --text-color-transperent: #292A33;
    --color-cards: #c9caff;
    --height-cards: 18em;
    --width-inner-card: 80%;
}

.general {
    width: 80%;
    position: relative;
    min-height: max-content;
    height: max-content;

}

.general-main {
    width: 80%;
    position: relative;
    min-height: max-content;
    height: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.levels {
    width: 30%;
}

.level-item {
    margin-top: 20px;
    padding: 10px;
    background: rgba(225, 226, 255, 0.85);
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);
    max-width: 32.5rem;
    position: relative;
    margin-right: 40px;
    flex-direction: column;
}

.level-item-number-text {
    margin-top: 10px;
}

.level-item-num-of-cards-text {
}

.level-item-number {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--text-color-transperent);
    font-size: 15px;
}

.level-item-name {
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
}

.block-cards {
    margin-top: 20px;
    width: 55%;
    flex-direction: column;
    min-height: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    justify-content: space-between;
}


.cards {
    color: var(--text-color);
    height: var(--height-cards);
    overflow-y: auto;
    /*scrollbar-gutter: stable;*/
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: .25rem;
}

.flipCard {
    transform: rotateY(180deg);
}

/*!* здесь находится скорость перевертывания *!*/
.flipper {
    padding-right: -1rem;
    background: var(--color-cards);
    word-break: break-all;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    width: 100%;
    height: var(--height-cards);
    border-radius: .25rem;
}

/* скройте обратную сторону во время переворота */
.front, .back {
    padding-top: 10px;
    backface-visibility: hidden;
    position: absolute;
    background: var(--color-cards);
    height: max-content;
    width: 100%;
    text-align: center;
}

.card-img, .card-text {
    max-width: none;
    width: 100%;
}

.front-inner, .back-inner {
    width: var(--width-inner-card);
    margin-left: calc((100% - var(--width-inner-card)) / 2);
}

/* лицевая сторона размещена над обратной */
.front {
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/* обратная, изначально скрытая сторона */
.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-nav {
    width: 30%;
    color: white;
    font-size: 22px;
    font-weight: 700;
    flex-direction: row;
    min-height: max-content;
    height: max-content;
    flex-wrap: wrap;
    position: relative;
    margin: 10px auto;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
}
.card-nav-text {
    display: inline-block;
}

.level-item-cards {
    margin-top: 20px;
    padding: 10px;
    flex-direction: row;
    display: flex;
    color: var(--text-color);
    background-color: var(--color-cards);
    width: 100%;
    min-height: max-content;
    height: max-content;
    border-radius: .25rem;
    position: relative;
}

.level-item-cards-question {
    overflow-wrap: break-word;
    color: var(--text-color);
    padding-right: 10px;
    padding-bottom: 10px;
    width: 40%;
}

.level-item-cards-answer {
    border-left: solid rgba(27, 29, 37, 0.5);
    word-break: break-all;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: thin;
    width: 60%;
}
.level-item-cards-answer-img, .level-item-cards-question-img {
    width: 100%;
}
.title-level {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.hr {
    margin-top: 10px;
    background-color: #333649;
}

.title-cards {
    font-weight: 700;
}