<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
    <div class="container">
        <a class="header-inner">
            <nav class="nav">
                <a class="nav-link" href="http://localhost:8081/category">Главная</a>
                <div class="dropdown">
                    <a class="dropbtn">Библиотека ▼</a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="http://localhost:8081/category" class="dropdown__item">Категории</a>
                        <a href="http://localhost:8081/folder">Папки</a>
                    </div>
                </div>
                <a class="nav-link" href="#">Создать</a>
                <a class="nav-link" href="#">Календарный план</a>
            </nav>
        </a>
    </div>
</div>
</div>