.folder {
    position: relative;
}

.folder__item {
    margin-top: 10px;
    padding: 5px;
    background: #D3D4E4;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);
    max-width: 32.5rem;
    position: relative;
}
.folder__item__modules {
    color: #292A33;
    display: inline-block;
    font-size: 15px;
}
.folder__item__num__of__cards{
    display: inline;
    width: 20px;
    bottom: 0;
}
.folder__item__num__of__cards__text{
    display: inline;
    width: 20px;
    bottom: 0;
}
.folder__item__name_module{
    color: #1B1D25;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
}
.folder__item__name {
    display: inline;
    width: 20px;
    bottom: 0;
}