<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main_cards.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/level/level_cards.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/level/level.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/form/form.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" th:src="@{/scripts/main/declension_of_words.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main/next_page.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_the_level.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/work_with_date.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_the_nav.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/next_page_after_level.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_img_card.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_text_card.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/check_is_flip.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_listener.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/popup/popup.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main/add_category.js}"></script>
    <meta charset="UTF-8">
    <title>Уровни</title>
</head>
<body onload="tempFunction()">

<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="container-title">
        <div class="level-title" th:text="${title}"></div>
        <div class="container-title-icon">
            <img class="img-title-button  popup-link" th:src="@{/images/plus.svg}"
                 th:onclick="'javascript:add_card(\'' + ${folder.id} +'\');'">
            <img class="img-title-button popup-link" th:src="@{/images/pen.svg}"
                 th:onclick="'javascript:edit_folder(\'' + ${folder.id} +'\');'">
            <img class="img-title-button popup-link" th:src="@{/images/cross.svg}"
                 th:onclick="'javascript:remove_folder(\'' + ${folder.id} +'\',\'' + ${category.id} +'\');'"/>
        </div>
    </div>
</div>
<div class="container">
    <div th:if="${#lists.isEmpty(levels)}">
        <p>Уровней нет</p>
    </div>
    <div th:unless="${#lists.isEmpty(levels)}">
        <div class="general-main">
            <div class="levels">
                <div class="row row-cols-1">
                    <div th:each="level : ${levelsWithCard}">
                        <div class="level-item"
                             th:onclick="'javascript:next_page_after_level(\'' + ${level.id} +'\');'">
                            <div class="level-item-name">
                                <div class="level-item-name-text" th:text="${level.num_of_level}"></div>
                            </div>
                            <div class="level-item-number">
                                <div class="level-item-number-text" th:text="${#lists.size(level.cards)}"></div>
                            </div>
                            <div class="level-item-number">
                            <span class="level-item-date" th:text="${level.next_replay}">
                            </span>
                                <span class="level-item-repeat"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-cards" th:if="not ${#lists.isEmpty(cards)}">
                <div class="cards" id="card">
                    <div class="flipper" id="flipper" th:onclick="check_is_flip()">
                        <div class="front" id="card-front">
                            <div class="front-inner">
                                <p class="title-cards" id="front-title">Вопрос</p>
                                <img id="card-front-img" class="card-img"/>
                                <span id="card-front-text" class="card-text"></span>
                            </div>
                        </div>
                        <div class="back" id="card-back">
                            <div class="back-inner">
                                <p class="title-cards" id="back-title">Ответ</p>
                                <img id="card-back-img" class="card-img"/>
                                <span id="card-back-text" class="card-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-nav">
                    <span class="card-nav-left card-nav" th:onclick="click_prev_button()">←</span>
                    <span class="card-nav-text card-nav" id="text_nav" th:text="${#lists.size(cards)}">текст</span>
                    <span class="card-nav-right card-nav" th:onclick="click_next_button()">→</span>
                </div>
            </div>
        </div>
        <div class="general">
            <hr class="hr">
            <div class="row row-cols-1">
                <div th:each="level : ${levels}">
                    <div th:unless="${#lists.isEmpty(level.cards)}">
                        <div class="title-level" th:text="${level.num_of_level}"></div>
                        <div th:each="card: ${level.cards}">
                            <div class="level-item-cards">
                                <div class="level-item-cards-question">
                                    <p class="title-cards">Вопрос</p>

                                    <img class="level-item-cards-question-img"/>
                                    <p class="level-item-cards-question-text"></p>
                                </div>
                                <div class="level-item-cards-answer">
                                    <div class="title-buttons">
                                        <p class="title-cards">Ответ</p>
                                        <div class="title-buttons-container">
                                            <img class="img-button" th:src="@{/images/pen.svg}"
                                                 th:data-parameter1="${card.id}"
                                                 th:data-parameter2="${level.id}"
                                                 th:onclick="edit_card(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))">
                                            <img class="img-button popup-link" th:src="@{/images/cross.svg}"
                                                 th:onclick="'javascript:remove_card(\'' + ${card.id} +'\');'">
                                        </div>
                                    </div>
                                    <img class="level-item-cards-answer-img"/>
                                    <p class="level-item-cards-answer-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<popup th:insert="popup/popup_remove :: popup_remove"></popup>
<popup th:insert="popup/popup_edit_folder :: popup_edit_folder"></popup>
<popup th:insert="popup/popup_level_card :: popup_level_card"></popup>
<popup th:insert="popup/popup_add_category :: popup_add_category"></popup>

</body>
<script type="text/javascript" th:inline="javascript">
    function tempFunction() {
        set_the_level('level-item-name-text');
        declension_of_words([' карточек', ' карточка', ' карточки'], 'level-item-number-text');
        work_with_date('level-item-date', 'level-item-repeat');
        set_the_level('title-level');
        set_the_nav('card-nav-text');
        set_listener();
        set_first_card();
        set_for_list_question_answer();
        set_opacity_image_popup();
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function click_next_button() {
        var cards =/*[[${cards}]]*/
        var typeImage = "data:image/png;base64,";
        var text = document.getElementById('text_nav');
        var textSplit = text.innerHTML.toString().split('/');

        if (textSplit[0] != textSplit[1]) {
            if (cards[textSplit[0]].question != null) {
                const [side, hidden_part] = check_side("card-front-text", "card-back-text", "card-front-img", "card-back-img");
                set_text_card(document.getElementById(side), cards[textSplit[0]].question, document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-front-img", "card-back-img", "card-front-text", "card-back-text");
                set_img_card(document.getElementById(side), typeImage + cards[textSplit[0]].question_image, document.getElementById(hidden_part));
            }
            if (cards[textSplit[0]].answer != null) {
                const [side, hidden_part] = check_side("card-back-text", "card-front-text", "card-back-img", "card-front-img");
                set_text_card(document.getElementById(side), cards[textSplit[0]].answer, document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-back-img", "card-front-img", "card-back-text", "card-front-text");
                set_img_card(document.getElementById(side), typeImage + cards[textSplit[0]].answer_image, document.getElementById(hidden_part));
            }
            text.innerHTML = (Number(textSplit[0]) + Number(1)) + "/" + textSplit[1];
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function click_prev_button() {
        var cards =/*[[${cards}]]*/
        var typeImage = "data:image/png;base64,";

        var text = document.getElementById('text_nav');
        var textSplit = text.innerHTML.toString().split('/');

        if (textSplit[0] != 1) {
            if (cards[textSplit[0] - 2].question != null) {
                const [side, hidden_part] = check_side("card-front-text", "card-back-text", "card-front-img", "card-back-img");
                set_text_card(document.getElementById(side), cards[textSplit[0] - 2].question, document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-front-img", "card-back-img", "card-front-text", "card-back-text");
                set_img_card(document.getElementById(side), typeImage + cards[textSplit[0] - 2].question_image, document.getElementById(hidden_part));
            }
            if (cards[textSplit[0] - 2].answer != null) {
                const [side, hidden_part] = check_side("card-back-text", "card-front-text", "card-back-img", "card-front-img");
                set_text_card(document.getElementById(side), cards[textSplit[0] - 2].answer, document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-back-img", "card-front-img", "card-back-text", "card-front-text");
                set_img_card(document.getElementById(side), typeImage + cards[textSplit[0] - 2].answer_image, document.getElementById(hidden_part));
            }
            text.innerHTML = (Number(textSplit[0]) - Number(1)) + "/" + textSplit[1];
        }
    }
</script>
<script>
    function check_side(front_default, back_default, other_front_default, other_back_default) {
        const question_text = "Вопрос";
        const answer_text = "Ответ"
        if (document.getElementById("flipper").classList.contains("flipCard")) {
            document.getElementById("back-title").innerHTML = question_text;
            document.getElementById("front-title").innerHTML = answer_text;
            document.getElementById("card-front").style.display = 'none';
            document.getElementById("card-back").style.display = '';
            return [back_default, other_back_default];
        } else {
            document.getElementById("back-title").innerHTML = answer_text;
            document.getElementById("front-title").innerHTML = question_text;
            document.getElementById("card-back").style.display = 'none';
            document.getElementById("card-front").style.display = '';
            return [front_default, other_front_default];
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function set_first_card() {
        var cards =/*[[${cards}]]*/
        var typeImage = "data:image/png;base64,";

        if (cards[0].question != 0) {
            set_text_card(document.getElementById("card-front-text"), cards[0].question, document.getElementById("card-front-img"));
        } else {
            set_img_card(document.getElementById("card-front-img"), typeImage + cards[0].question_image, document.getElementById("card-front-text"));
        }
        if (cards[0].answer != 0) {
            set_text_card(document.getElementById("card-back-text"), cards[0].answer, document.getElementById("card-back-img"));
        } else {
            set_img_card(document.getElementById("card-back-img"), typeImage + cards[0].answer_image, document.getElementById("card-back-text"));
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function set_for_list_question_answer() {
        var levels =/*[[${levels}]]*/
        var typeImage = "data:image/png;base64,";

        var list_of_question = document.getElementsByClassName("level-item-cards-question-text");
        var list_of_question_img = document.getElementsByClassName("level-item-cards-question-img")
        var list_of_answer = document.getElementsByClassName("level-item-cards-answer-text");
        var list_of_answer_img = document.getElementsByClassName("level-item-cards-answer-img");
        let indexList = 0;
        for (let j = 0; j < levels.length; j++) {
            var cards = levels[j].cards;
            for (let i = 0; i < cards.length; i++) {
                if (cards[i].question != null) {
                    set_text_card(list_of_question[indexList], cards[i].question, list_of_question_img[indexList]);
                } else {
                    set_img_card(list_of_question_img[indexList], typeImage + cards[i].question_image, list_of_question[indexList]);
                }
                if (cards[i].answer != null) {
                    set_text_card(list_of_answer[indexList], cards[i].answer, list_of_answer_img[indexList]);
                } else {
                    set_img_card(list_of_answer_img[indexList], typeImage + cards[i].answer_image, list_of_answer[indexList]);
                }
                indexList++;
            }
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    async function remove_card(card_id) {
        popup('popup');
        const button = document.getElementById("button-delete");
        button.addEventListener("click", async function () {
            try {
                const response = await fetch(("http://localhost:8081/card/delete/" + card_id).toString(), {
                    method: 'post',
                });
            } catch (err) {
                console.error(`Error: ${err}`);
            }
            document.location.reload()
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    async function remove_folder(folder_id, category_id) {
        popup('popup');
        const button = document.getElementById("button-delete");
        button.addEventListener("click", async function () {
            try {
                const response = await fetch(("http://localhost:8081/folder/delete/" + folder_id).toString(), {
                    method: 'post',
                });
            } catch (err) {
                console.error(`Error: ${err}`);
            }
            next_page("http://localhost:8081/folder/", category_id);
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function edit_folder(folder_id) {
        popup('popup_edit_folder');
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function add_card(folder_id) {
        popup('popup_card');
        document.getElementById("button_popup_card").innerText = "Сохранить";
        let form = document.getElementById("confirmationForm");
        form.action = "/card/add/" + folder_id;

        var text_question = document.getElementById("text-question");
        var text_answer = document.getElementById("text-answer");
        document.getElementById("file-question").required = false;
        text_question.required = true;
        document.getElementById("file-answer").required = false;
        text_answer.required = true;
        text_question.innerHTML = "";
        text_answer.innerHTML = "";

        document.getElementById("img-question").src = "";
        document.getElementById("img-answer").src = "";
        set_mode(document.getElementById("confirmationForm"), "add", "edit");

        set_opacity_card_text_popup("text-question");
        set_opacity_card_image_popup("file-question", "img-question", "none");
        set_opacity_card_text_popup("text-answer");
        set_opacity_card_image_popup("file-answer", "img-answer", "none");
    }
</script>
<script>
    function read_URL(input, img, file_name) {
        if (input.files && input.files[0]) {
            if (input.files[0].type !== "image/jpeg" && input.files[0].type !== "image/jpg" && input.files[0].type !== "image/png") {
                input.value = "";
            } else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    let blah = document.getElementById(img);
                    if (blah != null) {
                        blah.src = e.target.result;
                    }
                }
            }
            reader.readAsDataURL(input.files[0]);
        }

    }
</script>
<script>
    function set_opacity_image_popup() {
        let images_input = document.getElementsByClassName('file');
        let images = document.getElementsByClassName('popup-img-input');
        for (let i = 0; i < images_input.length; i++) {
            images_input[i].style.display = "none";
            images[i].style.display = "none";
        }
    }
</script>
<script>
    function set_opacity_card_text_popup(id, display_type = "") {
        let input_text = document.getElementById(id);
        input_text.style.display = display_type;

    }
</script>
<script>
    function set_opacity_card_image_popup(id_input, id_img, display_type = "") {
        let images_input = document.getElementById(id_input);
        let images = document.getElementById(id_img);
        images_input.style.display = display_type;
        images.style.display = display_type;

    }
</script>
<script type="text/javascript" th:inline="javascript">
    function change_input(icon_input, div_main_class_id) {
        let icon = document.getElementById(icon_input);
        let div_main_class = document.getElementById(div_main_class_id);

        if (div_main_class != null && div_main_class.classList.contains('text')) {
            //img
            icon.src = "/images/pen.svg";
            div_main_class.classList.remove('text');
            div_main_class.classList.add('img');
            if (div_main_class_id === 'question') {
                set_opacity_card_text_popup("text-question", "none");
                set_opacity_card_image_popup("file-question", "img-question");
                document.getElementById("file-question").required = true;
                document.getElementById("text-question").required = false;
            } else {
                set_opacity_card_text_popup("text-answer", "none");
                set_opacity_card_image_popup("file-answer", "img-answer");
                document.getElementById("file-answer").required = true;
                document.getElementById("text-answer").required = false;
            }

        } else {
            //text
            icon.src = "/images/camera.svg";
            div_main_class.classList.remove('img');
            div_main_class.classList.add('text');
            if (div_main_class_id === 'question') {
                set_opacity_card_text_popup("text-question");
                set_opacity_card_image_popup("file-question", "img-question", "none");
                document.getElementById("file-question").required = false;
                document.getElementById("text-question").required = true;
            } else {
                set_opacity_card_text_popup("text-answer");
                set_opacity_card_image_popup("file-answer", "img-answer", "none");
                document.getElementById("file-answer").required = false;
                document.getElementById("text-answer").required = true;
            }
        }

    }
</script>
<script>
    function set_on_click_popup_card() {
        let question = document.getElementById("question");
        if (question.classList.contains("text")) {
            let input_img = document.getElementById("file-question");
            input_img.value = "";
        } else {
            let input_text = document.getElementById("text-question");
            input_text.value = "";
        }
        let answer = document.getElementById("answer");
        if (answer.classList.contains("text")) {
            let input_img = document.getElementById("file-answer");
            input_img.value = "";
        } else {
            let input_text = document.getElementById("text-answer");
            input_text.value = "";
        }
        let form = document.getElementById("confirmationForm");
        let input_img_question = document.getElementById("file-question");
        let img_question = document.getElementById("img-question");
        let input_img_answer = document.getElementById("file-answer");
        let img_answer = document.getElementById("img-answer");
        if (form.classList.contains("edit")) {
            if (input_img_question.src === "" && img_question.src !== "") {
                input_img_question.required = false;
            }
            if (input_img_answer.src === "" && img_answer.src !== "") {
                input_img_answer.required = false;
            }
        }

    }
</script>
<script type="text/javascript" th:inline="javascript">
    function edit_card(card_id, level_id) {
        popup('popup_card');
        document.getElementById("button_popup_card").innerText = "Изменить";
        let form = document.getElementById("confirmationForm");
        set_mode(form, "edit", "add");
        form.action = "/card/edit/" + card_id;
        var card;
        var levels =/*[[${levels}]]*/
        var typeImage = "data:image/png;base64,";
        let div_main_class_question = document.getElementById("question");
        let div_main_class_answer = document.getElementById("answer");

        for (let i = 0; i < levels.length; i++) {
            if (levels[i].id == level_id) {
                for (let j = 0; j < levels[i].cards.length; j++) {
                    if (levels[i].cards[j].id == card_id) {
                        card = levels[i].cards[j];
                        break;
                    }
                }
                break;
            }
        }

        if (card != null) {
            if (card.question != null) {
                document.getElementById("text-question").innerHTML = card.question;
                set_opacity_card_text_popup("text-question");
                set_opacity_card_image_popup("file-question", "img-question", "none");
                set_mode(div_main_class_question, "text", "img");
                // div_main_class_question.classList.remove("img");
                // div_main_class_question.classList.add("text");

                document.getElementById("file-question").required = false;
                document.getElementById("text-question").required = true;
            } else {
                card.question_image = typeImage + card.question_image;
                document.getElementById("img-question").src = card.question_image;
                set_opacity_card_text_popup("text-question", "none");
                set_opacity_card_image_popup("file-question", "img-question");
                set_mode(div_main_class_question, "img", "text");
                // div_main_class_question.classList.add("img");
                // div_main_class_question.classList.remove("text");

                document.getElementById("file-question").required = true;
                document.getElementById("text-question").required = false;
            }
            if (card.answer != null) {
                document.getElementById("text-answer").innerHTML = card.answer;
                set_opacity_card_text_popup("text-answer");
                set_opacity_card_image_popup("file-answer", "img-answer", "none");
                set_mode(div_main_class_answer, "text", "img");
                // div_main_class_answer.classList.add("text");
                // div_main_class_answer.classList.remove("img");

                document.getElementById("file-answer").required = false;
                document.getElementById("text-answer").required = true;
            } else {
                card.answer_image = typeImage + card.answer_image;
                document.getElementById("img-answer").src = card.answer_image;
                set_opacity_card_text_popup("text-answer", "none");
                set_opacity_card_image_popup("file-answer", "img-answer");
                set_mode(div_main_class_answer, "img", "text");
                // div_main_class_answer.classList.add("img");
                // div_main_class_answer.classList.remove("text");

                document.getElementById("file-answer").required = true;
                document.getElementById("text-answer").required = false;
            }
        }
    }
</script>
<script>
    function set_mode(element, mode, remove_mode) {
        element.classList.remove(remove_mode);
        element.classList.add(mode);
    }
</script>
</html>
