<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main_cards.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/level/level_cards.css}"/>

    <script type="text/javascript" th:src="@{/scripts/main/declension_of_words.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main/next_page.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_the_level.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/work_with_date.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_the_nav.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/next_page_after_level.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_img_card.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_text_card.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/check_is_flip.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/level/set_listener.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/popup/popup.js}"></script>
    <meta charset="UTF-8">
    <title>Уровни</title>
</head>
<body onload="tempFunction()" class="body">
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div class="container-title">
        <div class="title" th:text="${title}"></div>
        <div class="container-title-icon">
            <img class="img-title-button" th:src="@{/images/plus.svg}">
            <img class="img-title-button popup-link" th:src="@{/images/pen.svg}"
                 th:onclick="'javascript:edit_folder(\'' + ${folder.id} +'\');'">
            <img class="img-title-button popup-link" th:src="@{/images/cross.svg}"
                 th:onclick="'javascript:remove_folder(\'' + ${folder.id} +'\',\'' + ${category.id} +'\');'"/>
        </div>
    </div>
</div>
<div class="container">
    <div th:if="${#lists.isEmpty(levels)}">
        <p>Уровней нет</p>
    </div>
    <div th:unless="${#lists.isEmpty(levels)}">
        <div class="general-main">
            <div class="levels">
                <div class="row row-cols-1">
                    <div th:each="level : ${levelsWithCard}">
                        <div class="level-item"
                             th:onclick="'javascript:next_page_after_level(\'' + ${level.id} +'\');'">
                            <div class="level-item-name">
                                <div class="level-item-name-text" th:text="${level.num_of_level}"></div>
                            </div>
                            <div class="level-item-number">
                                <div class="level-item-number-text" th:text="${#lists.size(level.cards)}"></div>
                            </div>
                            <div class="level-item-number">
                            <span class="level-item-date" th:text="${level.next_replay}">
                            </span>
                                <span class="level-item-repeat"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-cards" th:if="not ${#lists.isEmpty(cards)}">
                <div class="cards" id="card">
                    <div class="flipper" id="flipper" th:onclick="check_is_flip()">
                        <div class="front" id="card-front">
                            <div class="front-inner">
                                <p class="title-cards" id="front-title">Вопрос</p>
                                <img id="card-front-img" class="card-img"/>
                                <span id="card-front-text" class="card-text"></span>
                            </div>
                        </div>
                        <div class="back" id="card-back">
                            <div class="back-inner">
                                <p class="title-cards" id="back-title">Ответ</p>
                                <img id="card-back-img" class="card-img"/>
                                <span id="card-back-text" class="card-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-nav">
                    <span class="card-nav-left card-nav" th:onclick="click_prev_button()">←</span>
                    <span class="card-nav-text card-nav" id="text_nav" th:text="${#lists.size(cards)}">текст</span>
                    <span class="card-nav-right card-nav" th:onclick="click_next_button()">→</span>
                </div>
            </div>
        </div>
        <div class="general">
            <hr class="hr">
            <div class="row row-cols-1">
                <div th:each="level : ${levels}">
                    <div th:unless="${#lists.isEmpty(level.cards)}">
                        <div class="title-level" th:text="${level.num_of_level}"></div>
                        <div th:each="card: ${level.cards}">
                            <div class="level-item-cards">
                                <div class="level-item-cards-question">
                                    <p class="title-cards">Вопрос</p>

                                    <img class="level-item-cards-question-img"/>
                                    <p class="level-item-cards-question-text"></p>
                                </div>
                                <div class="level-item-cards-answer">
                                    <div class="title-buttons">
                                        <p class="title-cards">Ответ</p>
                                        <div class="title-buttons-container">
                                            <img class="img-button" th:src="@{/images/pen.svg}">
                                            <img class="img-button popup-link" th:src="@{/images/cross.svg}"
                                                 th:onclick="'javascript:remove_card(\'' + ${card.id} +'\');'">
                                        </div>
                                    </div>
                                    <img class="level-item-cards-answer-img"/>
                                    <p class="level-item-cards-answer-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div id="popup" class="popup">
        <div class="popup-body">
            <div class="popup-content">
                <img class="popup-close" th:src="@{/images/cross.svg}">
                <div class="popup-text">Вы действительно хотите удалить?</div>
                <button class="button-popup" id="button-delete">Удалить</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div id="popup_edit_folder" class="popup">
        <div class="popup-body">
            <div class="popup-content">
                <img class="popup-close" th:src="@{/images/cross.svg}">
                <form th:action="@{/folder/edit/{id}(id=${folder.getId()})}" method="post">
                    <div class="row row-cols-1">
                        <input type="text" th:value="${folder.name}" name="name" th:placeholder="${folder.name}"
                               maxlength="50"
                               class="input-text">
                        <input type="number" th:value="${folder.numOfLevels}" name="numOfLevels"
                               th:placeholder="${folder.numOfLevels}" class="input-number" min="1" max="10">
                        <div class="button-popup-div">
                            <button type="submit" class="input-button">Обновить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    function tempFunction() {
        set_the_level('level-item-name-text');
        declension_of_words([' карточек', ' карточка', ' карточки'], 'level-item-number-text');
        work_with_date('level-item-date', 'level-item-repeat');
        set_the_level('title-level');
        set_the_nav('card-nav-text');
        set_listener();
        set_first_card();
        set_for_list_question_answer();
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function click_next_button() {
        var questions =/*[[${questions}]]*/
        var questions_img =/*[[${imgQuestion}]]*/
        var answers =/*[[${answers}]]*/
        var answers_ing =/*[[${imgAnswer}]]*/
        var text = document.getElementById('text_nav');
        var textSplit = text.innerHTML.toString().split('/');
        if (textSplit[0] != textSplit[1]) {
            if (questions[textSplit[0]] != null) {
                const [side, hidden_part] = check_side("card-front-text", "card-back-text", "card-front-img", "card-back-img");
                set_text_card(document.getElementById(side), questions[textSplit[0]], document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-front-img", "card-back-img", "card-front-text", "card-back-text");
                set_img_card(document.getElementById(side), questions_img[textSplit[0]], document.getElementById(hidden_part));
            }
            if (answers[textSplit[0]] != null) {
                const [side, hidden_part] = check_side("card-back-text", "card-front-text", "card-back-img", "card-front-img");
                set_text_card(document.getElementById(side), answers[textSplit[0]], document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-back-img", "card-front-img", "card-back-text", "card-front-text");
                set_img_card(document.getElementById(side), answers_ing[textSplit[0]], document.getElementById(hidden_part));
            }
            text.innerHTML = (Number(textSplit[0]) + Number(1)) + "/" + textSplit[1];
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function click_prev_button() {
        var questions =/*[[${questions}]]*/
        var questions_img =/*[[${imgQuestion}]]*/
        var answers =/*[[${answers}]]*/
        var answers_img =/*[[${imgAnswer}]]*/

        var text = document.getElementById('text_nav');
        var textSplit = text.innerHTML.toString().split('/');

        if (textSplit[0] != 1) {
            if (questions[textSplit[0] - 2] != null) {
                const [side, hidden_part] = check_side("card-front-text", "card-back-text", "card-front-img", "card-back-img");
                set_text_card(document.getElementById(side), questions[textSplit[0] - 2], document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-front-img", "card-back-img", "card-front-text", "card-back-text");
                set_img_card(document.getElementById(side), questions_img[textSplit[0] - 2], document.getElementById(hidden_part));
            }
            if (answers[textSplit[0] - 2] != null) {
                const [side, hidden_part] = check_side("card-back-text", "card-front-text", "card-back-img", "card-front-img");
                set_text_card(document.getElementById(side), answers[textSplit[0] - 2], document.getElementById(hidden_part));
            } else {
                const [side, hidden_part] = check_side("card-back-img", "card-front-img", "card-back-text", "card-front-text");
                set_img_card(document.getElementById(side), answers_img[textSplit[0] - 2], document.getElementById(hidden_part));
            }
            text.innerHTML = (Number(textSplit[0]) - Number(1)) + "/" + textSplit[1];
        }
    }
</script>
<script>
    function check_side(front_default, back_default, other_front_default, other_back_default) {
        const question_text = "Вопрос";
        const answer_text = "Ответ"
        if (document.getElementById("flipper").classList.contains("flipCard")) {
            document.getElementById("back-title").innerHTML = question_text;
            document.getElementById("front-title").innerHTML = answer_text;
            document.getElementById("card-front").style.display = 'none';
            document.getElementById("card-back").style.display = '';
            return [back_default, other_back_default];
        } else {
            document.getElementById("back-title").innerHTML = answer_text;
            document.getElementById("front-title").innerHTML = question_text;
            document.getElementById("card-back").style.display = 'none';
            document.getElementById("card-front").style.display = '';
            return [front_default, other_front_default];
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function set_first_card() {
        var questions =/*[[${questions}]]*/
        var questions_img =/*[[${imgQuestion}]]*/
        var answers =/*[[${answers}]]*/
        var answers_img =/*[[${imgAnswer}]]*/

        if (questions[0] != null) {
            set_text_card(document.getElementById("card-front-text"), questions[0], document.getElementById("card-front-img"));
        } else {
            set_img_card(document.getElementById("card-front-img"), questions_img[0], document.getElementById("card-front-text"));
        }
        if (answers[0] != null) {
            set_text_card(document.getElementById("card-back-text"), answers[0], document.getElementById("card-back-img"));
        } else {
            set_img_card(document.getElementById("card-back-img"), answers_img[0], document.getElementById("card-back-text"));
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function set_for_list_question_answer() {
        var questions =/*[[${questions}]]*/
        var questions_img =/*[[${imgQuestion}]]*/
        var answers =/*[[${answers}]]*/
        var answers_img =/*[[${imgAnswer}]]*/

        var list_of_question = document.getElementsByClassName("level-item-cards-question-text");
        var list_of_question_img = document.getElementsByClassName("level-item-cards-question-img")
        var list_of_answer = document.getElementsByClassName("level-item-cards-answer-text");
        var list_of_answer_img = document.getElementsByClassName("level-item-cards-answer-img");

        for (i = 0; i < list_of_question.length; i++) {
            if (questions[i] != null) {
                set_text_card(list_of_question[i], questions[i], list_of_question_img[i]);
            } else {
                set_img_card(list_of_question_img[i], questions_img[i], list_of_question[i]);
            }
            if (answers[i] != null) {
                set_text_card(list_of_answer[i], answers[i], list_of_answer_img[i]);
            } else {
                set_img_card(list_of_answer_img[i], answers_img[i], list_of_answer[i]);
            }
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    async function remove_card(card_id) {
        popup('popup');
        const button = document.getElementById("button-delete");
        button.addEventListener("click", async function () {
            try {
                const response = await fetch(("http://localhost:8081/card/delete/" + card_id).toString(), {
                    method: 'post',
                });
            } catch (err) {
                console.error(`Error: ${err}`);
            }
            document.location.reload()
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    async function remove_folder(folder_id, category_id) {
        popup('popup');
        const button = document.getElementById("button-delete");
        button.addEventListener("click", async function () {
            try {
                const response = await fetch(("http://localhost:8081/folder/delete/" + folder_id).toString(), {
                    method: 'post',
                });
            } catch (err) {
                console.error(`Error: ${err}`);
            }
            next_page("http://localhost:8081/folder/", category_id);
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function edit_folder(folder_id) {
        popup('popup_edit_folder');
    }
</script>
</html>
